# This rule is not used by the project agent-op itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants permissions to create, update, and delete resources within the mcpgateway.bedrock.aws.
# This role is intended for users who need to manage these resources
# but should not control RBAC or manage permissions for others.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: agent-op
    app.kubernetes.io/managed-by: kustomize
  name: mcpserver-editor-role
rules:
- apiGroups:
  - mcpgateway.bedrock.aws
  resources:
  - mcpservers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - mcpgateway.bedrock.aws
  resources:
  - mcpservers/status
  verbs:
  - get
